<ul class="mt-0 mb-6 uppercase tracking-wider">
	<li class="inline list-none pr-4">
		<a class="link text-xs {{class.link}}" href="https://twitter.com/ericvalois" target="_blank" rel="noopener noreferrer">Twitter</a>
	</li>
	<li class="inline list-none pr-4">
		<a class="link text-xs" href="https://github.com/ericvalois" target="_blank" rel="noopener noreferrer">GitHub</a>
	</li>
	<li class="inline list-none pr-4">
		<a class="link text-xs" href="https://ca.linkedin.com/in/ericvalois" target="_blank" rel="noopener noreferrer">LinkedIn</a>
	</li>

	<li class="inline list-none pr-4">
		<a class="link text-xs" href="https://codepen.io/valois" target="_blank" rel="noopener noreferrer">CodePen</a>
	</li>
</ul>