<nav class="flex items-center justify-between flex-wrap px-5 py-3 overflow-x-auto ">
  	{% set navPages = collections.all | eleventyNavigation %}
	<ul class="flex items-center">
		<li class="">
			<a 
				href="/" 
				class=" text-xs py-2 uppercase  mr-5 inline-block 
					{{'text-gray-900 dark:text-gray-200 border-b-2 border-gray-200' if '/' == page.url
					else 'link'}}"
			>
				Home
			</a>
		</li>
		{% for entry in navPages %}
			<li class="">
				<a 
					href="{{ entry.url }}" 
					class=" text-xs uppercase py-2 mr-5 inline-block {{class.link}}
						{{'text-gray-900 dark:text-gray-200 border-b-2 border-gray-200' if entry.url in page.url
						else ''}}"
				>
					{{ entry.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
