<div class="flex mb-12 md:mb-12 timeline-item">
	<div class="flex flex-col items-center">
		<div class="flex justify-center items-center p-3 rounded-full align-center border-4 border-black bg-gray-800">
			<i class="icon text-white text-sm" data-icon="update"></i>
		</div>

		<div class="flex-1 w-px -mb-12 md:-mb-12 bg-gray-800"></div>
	</div>
	<div class="flex flex-col flex-1 ml-4 space-y-4">
		<div class="flex flex-col pt-1 contents-center"><span class="font-medium text-primary">{{item.title}}</span><span class="text-sm text-tertiary">November 9, 2020</span></div>
		<div class="flex flex-col space-y-4 timeline-full-width">
			<div class="px-4 py-3 rounded-md shadow bg-gray-900">
				<p class="text-sm">
					{{item.description}}
				</p>
			</div>
		</div>
	</div>
</div>