@tailwind base;

html{
	font-size: 20px;
}

body{
	font-size: 1rem;
}

p a{
}

.filter-hover:not(:disabled):hover {
	filter: brightness(120%) hue-rotate(2deg);
}
/* a:hover{ text-decoration: none;} */

@media (prefers-color-scheme: dark){
	html {
		--tw-bg-opacity: 1;
		background-color: rgba(5,5,5,var(--tw-bg-opacity));
	}
}

.default-bg{
	background-size: 200% auto;
	transition: all 0.4s ease;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #9f7aea 0%, #667eea 50%, #9f7aea 100%);
}

.hover\:default-bg:hover{
	background-position: right center;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@tailwind components;
@tailwind utilities;
