<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/site.webmanifest">
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/main.css" />
	<link rel="preload" href="/fonts/inter-100-900.woff2" as="font" type="font/woff2" crossorigin>
	<style>
		@font-face {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 100 900;
			font-display: swap;
			src: url(/fonts/inter-100-900.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	</style>
</head>
  <body class=" text-white bg-black">

    {% include "../components/navigation.njk" %}

    <main class="px-4 max-w-3xl mx-auto">
      {{ content | safe }}
    </main>

	<footer class="pb-6 text-sm text-center mt-12">

		{% include "../components/follow.njk" %}

		<span class="pagespeed"></span>

	</footer>

    <script defer src="/assets/main.js"></script>

	{% if meta.env == "production" %}
		<!-- Cloudflare Web Analytics -->
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "58bc3103b95344048fcd22991de1e682"}'></script>
		<!-- End Cloudflare Web Analytics -->
	{% endif %}

  </body>
</html>
