<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class="font-sans text-black dark:bg-dark dark:text-white">

	

    {% include "../components/navigation.njk" %}

    <main class="px-4 max-w-3xl mx-auto">
      {# <h1 class="text-3xl mb-8">{{title}}</h1> #}
      {{ content | safe }}
    </main>

	<footer class="py-6 text-sm text-center">

		{% include "../components/follow.njk" %}

		<span class="pagespeed"></span>
	</footer>

    <script defer src="/assets/main.js"></script>

	{% if env.environment == "production" %}
		<!-- Cloudflare Web Analytics -->
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "58bc3103b95344048fcd22991de1e682"}'></script>
		<!-- End Cloudflare Web Analytics -->
	{% endif %}

  </body>
</html>
