---
layout: layouts/base.njk
---
<article class="prose-dark py-10 lg:py-16 max-w-xl mx-auto">
	<h1 class="mb-0">{{title}}</h1>
	<header class="text-sm my-4 text-gray-400 ">{{ date | readableDate }}</header>
	{{ content | safe }}
</article>