---
title: 404 page not found
layout: layouts/base.njk
permalink: /404/
---
<div class="py-10">
	<div class="prose dark:prose-dark  max-w-xl mx-auto mb-10">
  		<h1 class="mb-10 text-center">{{title}}</h1>
	</div>

	
</div>