---
title: About
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 1
---


<p class="mt-4">☝️ This page gets its content from <code>src/_data/contact.json</code></p>
