---
title: About me
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 1
---
<div class="prose dark:prose-dark py-10 lg:py-16 max-w-xl mx-auto">
  <h1>{{title}}</h1>
  <p>
   Under construction
  </p>

</div>