---
title: About me
layout: layouts/base.njk
permalink: /about/
eleventyNavigation:
  key: About
  order: 1
---
<div class="py-10">
	<div class="prose dark:prose-dark  max-w-xl mx-auto mb-10">
  		<h1 class="mb-10">{{title}}</h1>
	</div>

	<div class="prose dark:prose-dark max-w-xl mx-auto">

		<h2>Short bio</h2>
		<p class="text-base">If we met at the corner of the street and you ask me to describe myself, I would say something like this: </p>
		<blockquote>I like coding fast websites and learning new web-related stuff. Yes, I'm a geek! I could mention that I enjoy taking my skateboarding once in a while. I would probably be with my two beautiful daughters. Or perhaps back from my morning calisthenics routine. I would definitely not mention my cat, Merlin.</blockquote>
		
		<details class="mt-10" open>
			<summary class="text-2xl font-bold cursor-pointer outline-none ring-indigo-400 ring-4 focus:ring-purple-400 rounded-sm p-2">Professional bio</summary>
			
			<p>A couple of months ago, I worked on a future colleague's job description to help me out on the site. And I completely froze on the job title.  It was initially set to a frontend developer. Okay, fine, but which kind of frontend developer?</p>

			<p>The line between front and back has become more and more blurry in the last decade. I like the way Chris Coyier describes our job in <a href="https://increment.com/frontend/when-frontend-means-full-stack/" target="_blank" rel="noopener">When frontend means full stack</a> article. Or the way Brad Frost name it: <a href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/" target="_blank" rel="noopener">front-of-the-front-end and back-of-the-front-end web development</a>. Which is only the "front" part of my job. What about the back? What about DevOps tasks like deployments and test automation? What to do with performance monitoring, server administration, and DNS configuration?</p>

			<p>For instance, I can work a day on a new landing page with new custom CSS animations. The day after that, building a PHP connector to send leads to a CRM. And later adding new features to a React-based editor for the marketing team. Between that, I may have to login throw SSH and use WP-CLI to fix the broken WordPress backend.</p>

			<p>Frontend developer? It's too vague. Web developer, then? It could work, but I know web developers that I don't want to be associated with. So, I guess I should have used the title Full-Stack web developer because it's what best describes my job.</p>

			<p>Yes, what best describes my skills is the title Full-stack web developer.</p>
		</details>
		
	</div>
</div>