---
title: Writing
layout: layouts/base.njk
permalink: /writing/
eleventyNavigation:
  key: Writing
  order: 2
---


<div class="prose dark:prose-dark py-10 lg:py-16 max-w-xl mx-auto">
	<h1 class="dark:text-white">Writing idea</h1>

	<p>Here are some pages and posts ideas.</p>

	<ul class="">
		<li>About me</li>
		<li>My stack</li>
		<li>Icons script</li>
		<li>Pull database script</li>
		<li>Page speed is UX</li>
		<li>Am I a front-end developer?</li>
		<li>Progressively load block's stylesheets and scripts in WordPress</li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

