@tailwind base;

html{ font-size: 18px; }

body{ font-size: 1rem; }

.icon{
	width: 1em;
	height: 1em;
}

.filter-hover:not(:disabled):hover { filter: brightness(120%) hue-rotate(2deg);}


.link,
p a,
.prose-dark p a{
	@apply filter-hover transition-all  bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-indigo-400;
}

.default-bg{
	background-size: 200% auto;
	transition: all 0.4s ease;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background-image: linear-gradient(to right, #9f7aea 0%, #667eea 50%, #9f7aea 100%);
}

.hover\:default-bg:hover{
	background-position: right center;
}

.grayscale{filter: grayscale(80%);}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

pre[class*="language-"]:before{
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	display: block;
	padding: 0.2rem 1rem;
	width: 100%;
	color: #fff;
	@apply bg-gradient-to-r from-purple-400 to-indigo-400;
}

pre.language-js:before{content: "JS"; }
pre.language-css:before{content: "CSS"; }
pre.language-php:before{content: "PHP"; }
pre.language-html:before{content: "HTML"; }

pre code{ 
	padding: 1rem;
	overflow: auto;
}


@tailwind components;
@tailwind utilities;