---
title: Home
layout: layouts/base.njk
---
<section class="mt-8 mb-12 lg:mt-12 lg:mb-20">
	<div class="max-w-xl mx-auto">
		<h1 class="font-semibold text-3xl lg:text-4xl mb-6">Hey, I'm Eric</h1>
		<p class="text-base lg:text-lg text-gray-600 dark:text-gray-200 mb-3">I'm a Front-end developper from Montreal. I like describing my job as being the intersection between human and machine.</p>
		
		{% include "./_includes/components/follow.njk" %}
		
		{# <div class="flex flex-col space-y-2 md:space-x-4 md:flex-row md:space-y-0 ">
			
			
			<a class="{{class.buttonLarge}} {{class.buttonPrimary}} w-full sm:w-auto flex-none" href="https://twitter.com/ericvalois" target="_blank" rel="noopener noreferrer">
				Follow me on twitter
			</a>
		</div>  #}
	</div>
</section>

<ul class="max-w-xl mx-auto mb-32">
	{% asyncEach item in timeline | latestTimeline %}
		<li>
			{% if item.type == 'tweet' %}
				{% include "./_includes/components/timeline-tweet.njk" %}
			{% elif item.type == 'picture' %}
				{% picture "", "", "" %}
				{% include "./_includes/components/timeline-picture.njk" %}
			{% elif item.type == 'post' %}
				{% include "./_includes/components/timeline-post.njk" %}
			{% endif %}
		</li>
	{% endeach %}
</ul>