---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---


<section class="py-6">
	<div class="max-w-xl mx-auto text-center py-10">
		<h1 class="font-extrabold text-3xl mb-2">Hey, I'm Eric</h1>
		<p class="text-lg text-gray-600 dark:text-gray-100 mb-2">I'm a Front-end developper from Montreal. I like describing my job as being the intersection between human and machine.</p>
		
		{% include "./_includes/components/follow.njk" %}
		
		<div class="flex flex-col space-y-2 md:space-x-4 md:flex-row md:space-y-0 md:items-center md:justify-center">
			
			
			<a class="{{class.button}} {{class.buttonLarge}} w-full sm:w-auto flex-none" href="https://twitter.com/ericvalois" target="_blank" rel="noopener noreferrer">
				Follow me on twitter
			</a>
		</div> 
	</div>
</section>

{# {% include "./_includes/components/fake.njk" %} #}

{% set postslist = collections.posts %}
<ul>
  {% for post in postslist %}
    <li>
		{% if post.data.tags.includes("tweet") %}
			{% include "./_includes/components/timeline-tweet.njk" %}
		{% elif 2 == 3 %}
		{% endif %}
		
    </li>
  {% endfor %}
</ul>



