---
title: Home
layout: layouts/base.njk
---
<section class="py-6">
	<div class="max-w-xl mx-auto text-center py-10">
		<h1 class="font-extrabold text-3xl mb-2">Hey, I'm Eric</h1>
		<p class="text-lg text-gray-600 dark:text-gray-100 mb-2">I'm a Front-end developper from Montreal. I like describing my job as being the intersection between human and machine.</p>
		
		{% include "./_includes/components/follow.njk" %}
		
		<div class="flex flex-col space-y-2 md:space-x-4 md:flex-row md:space-y-0 md:items-center md:justify-center">
			
			
			<a class="{{class.button}} {{class.buttonLarge}} w-full sm:w-auto flex-none" href="https://twitter.com/ericvalois" target="_blank" rel="noopener noreferrer">
				Follow me on twitter
			</a>
		</div> 
	</div>
</section>
{# {% responsiveimage "./src/images/eric-and-kate.jpg", "photo of my cat", "(min-width: 30em) 50vw, 100vw" %} #}

{# {% include "./_includes/components/fake.njk" %} #}

{# {% set postslist = collections.posts %}
<ul class="max-w-xl mx-auto mb-32">
  {% asyncAll post in postslist %}
    <li>
		{% if post.data.tags.includes("tweet") %}
			{% include "./_includes/components/timeline-tweet.njk" %}
		{% elif post.data.tags.includes("picture") %}
			{% include "./_includes/components/timeline-picture.njk" %}
		{% elif post.data.tags.includes("posts") %}
			{% include "./_includes/components/timeline-post.njk" %}
		{% endif %}
		
    </li>
{% endall %}
</ul> #}

<ul class="max-w-xl mx-auto mb-32">
  {% for item in timeline %}
    <li>
		{% if item.type == 'tweet' %}
			{% include "./_includes/components/timeline-tweet.njk" %}
		{% elif item.type == 'picture' %}
			{% picture "", "", "" %}
			{% include "./_includes/components/timeline-picture.njk" %}
		{% elif item.type == 'post' %}
			{% include "./_includes/components/timeline-post.njk" %}
		{% endif %}
    </li>
{% endfor %}
</ul>


